<nav class="level">
  <div class="level-item has-text-centered">
    <p class="heading"> </p>
    <p class="heading">Catherine's</p>
    <p class="title">Homework</p>
  </div>
</nav>
<article class="message is-info has-text-centered">
    <div class="message-header">New Homework</div>
    <div class="message-body">
      <label class="label">Subject & Type</label>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="eg. Math" ng-model="subject">
        </p>
        <p class="control">
          <span class="select is-fullwidth">
            <select ng-model="type">
              <option value="Homework">Homework</option>
              <option value="Quiz">Quiz</option>
              <option value="Test">Test</option>
            </select>
          </span>
        </p>
      </div>
      <label class="label">Deadline</label>
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="eg. 2016-09-01(T12:00)" ng-model="deadline">
        </p>
      <label class="label">Homework</label>
      <p class="control">
          <textarea class="textarea" placeholder="eg. Page 51" ng-model="content"></textarea>
      </p>
      <p class="control">
          <button class="button is-info" ng-click="addHomework()">Submit</button>
          <a class="button is-link" href="#homework">Cancel</a>
      </p>
    </div>
</article>