
<article class="message is-info has-text-centered">
    <div class="message-header">TIMETABLE</div>
    <div class="message-body">
		<nav class="level">
		  <div class="level-item has-text-centered">
		    <p class="heading"> </p>
		    <p class="heading">Today is</p>
		    <p class="title" ng-bind="today"></p>
		  </div>
		  <div class="level-item has-text-centered">
		    <p class="heading">Tomorrow Should Get up at</p>
		    <p class="title" ng-bind="getUpAt"></p>
		  </div>
		  <div class="level-item has-text-centered">
		    <p class="heading">Minimum day?</p>
		    <p class="title" ng-bind="isMinimumDay"></p>
		  </div>
		  <div class="level-item has-text-centered">
		    <p class="heading">Next Holiday</p>
		    <p class="title" ng-bind="nextHoliday"></p>
		  </div>
		</nav>
	</div>
</article>